<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value can be "SqlServer" or "MySql" -->
    <add key="DatabaseProvider" value="SqlServer" />
    <add key="ChatGPTApiKey" value="YOUR_CHATGPT_API_KEY_PLACEHOLDER" />
    <add key="GoogleApiKey" value="YOUR_GOOGLE_API_KEY_PLACEHOLDER" />
    <add key="ChatGPTModel" value="gpt-4o-mini" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="YOUR_MYSQL_CONNECTION_STRING_PLACEHOLDER" />
    <add name="SqlServerConnection" connectionString="YOUR_SQLSERVER_CONNECTION_STRING_PLACEHOLDER" />
  </connectionStrings>
</configuration>
