<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value can be "SqlServer" or "MySql" -->
    <add key="DatabaseProvider" value="MySql" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Server=localhost;Database=clinic;User=clinic;Password=Clinic@110;" />
    <add name="SqlServerConnection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=clinic;Trusted_Connection=True;TrustServerCertificate=True;" />
  </connectionStrings>
</configuration>
