<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value can be "SqlServer" or "MySql" -->
    <add key="DatabaseProvider" value="MySql" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="U2VydmVyPWxvY2FsaG9zdDtEYXRhYmFzZT1yZWxpZWZkZW50YWxjbGluaWM7VXNlcj1yZWxpZWZkZW50YWw7UGFzc3dvcmQ9QXBwbGVANzg2MTEwOw0K" />
    <add name="SqlServerConnection" connectionString="U2VydmVyPXRjcDpjbGluaWNtYW5hZ2VyLmRhdGFiYXNlLndpbmRvd3MubmV0LDE0MzM7SW5pdGlhbCBDYXRhbG9nPWNsaW5pY21hbmFnZXI7UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO1VzZXIgSUQ9ZnBhdGE7UGFzc3dvcmQ9QXBwbGVANzg2MTEwO011bHRpcGxlQWN0aXZlUmVzdWx0U2V0cz1GYWxzZTtFbmNyeXB0PVRydWU7VHJ1c3RTZXJ2ZXJDZXJ0aWZpY2F0ZT1GYWxzZTtDb25uZWN0aW9uIFRpbWVvdXQ9MzA7" />
  </connectionStrings>
</configuration>
