<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value can be "SqlServer" or "MySql" -->
    <add key="DatabaseProvider" value="SqlServer" />
    <add key="ChatGPTApiKey" value="c2stcHJvai1lc2tIUVE5M2hHYmttWi1vbTJ1R0M5V3FVZVZLMkJtSFRaYWZ0c2V4QWpKUkRKUGJ3MDBmckJvRkRmUURqR01ES3Jad1d6blp1Q1QzQmxia0ZKYnhocHVlRXhtMVNPVVJ4ZF8wUkhZSExzTmp1OVlMaHR1RXlsUm50NzhxTVdubC16ZUpOMHR6ME52dnhsc1BySHVGdWRCcG5XZ0E=" />
    <add key="GoogleApiKey" value="QUl6YVN5QmFuU0Z6R2dzRFlobHJRRnZ0VFFlM2hCc1BhdE82eEE4" />
    <add key="ChatGPTModel" value="gpt-4o-mini" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="U2VydmVyPWxvY2FsaG9zdDtEYXRhYmFzZT1yZWxpZWZkZW50YWxjbGluaWM7VXNlcj1yZWxpZWZkZW50YWw7UGFzc3dvcmQ9QXBwbGVANzg2MTEwOw0K" />
    <add name="SqlServerConnection" connectionString="U2VydmVyPXRjcDpjbGluaWNtYW5hZ2VyLmRhdGFiYXNlLndpbmRvd3MubmV0LDE0MzM7SW5pdGlhbCBDYXRhbG9nPWNsaW5pY21hbmFnZXI7UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO1VzZXIgSUQ9ZnBhdGE7UGFzc3dvcmQ9QXBwbGVANzg2MTEwO011bHRpcGxlQWN0aXZlUmVzdWx0U2V0cz1GYWxzZTtFbmNyeXB0PVRydWU7VHJ1c3RTZXJ2ZXJDZXJ0aWZpY2F0ZT1GYWxzZTtDb25uZWN0aW9uIFRpbWVvdXQ9MzA7" />
  </connectionStrings>
</configuration>
